// TODO

.alizarin_crimson{
  color: #E32636;
}

.bright_red{
}

.cadmium_yellow{
  color: #FFF600;
}

.dark_sienna{
}

.indian_yellow{
}

.midnight_black{
}

.phthalo_blue{
  color: #000F89;
}

.phthalo_green{
  color: #123524;
}

.prussian_blue{
 color: #003153; 
}

.sap_green{
  color: #507D2A;
}

.titanium_white{
}

.van_dyke_brown{
}

.yellow_ochre{
  color: #F5C52C;
}
