.alizarin_crimson{
  color: #E32636;
}

.bright_red{
  color: #ED1C29;
}

.burnt_umber{
  color: #8A3324;
}

.cadmium_yellow{
  color: #FFF600;
}

.dark_sienna{
  color: #3C1414;
}

.indian_yellow{
  color: #E3A857;
}

.midnight_black{
  color: #262626;
}

.permanent_red{
  color: #742C1E;
}

.phthalo_blue{
  color: #000F89;
}

.phthalo_green{
  color: #123524;
}

.prussian_blue{
 color: #003153; 
}

.sap_green{
  color: #507D2A;
}

.thalo_blue{
  color: #000F89; /* same as phthalo_blue? */
}

.thalo_green{
  color: #2B5C0B;
}

.titanium_white{
  color: #B4B2A7;
}

.van_dyke_brown{
  color: #4A4742;
}

.yellow_ochre{
  color: #F5C52C;
}



/* extras */
.happy_little_thing::after{
  content: " :) ";
}
